.account {
  min-height: 100px;
  box-sizing: border-box;
  color: #fff;
  padding-top: 10px;
  text-align: center;
}

.account:nth-child(even) {
  background-color: #3cf;
}

.account:nth-child(odd) {
  background-color: #fff;
  color: #3cf;

  & button {
    border: 1px solid #3cf;
    color: #3cf;
  }
}

.tweet-enter {
  opacity: 0.01;
}

.tweet-enter.tweet-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.tweet-leave {
  opacity: 1;
}

.tweet-leave.tweet-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
